<div id="footer-carousel" class="footer_carousel container">
    <div class="footer_slide">
        <div class="slide-img-1 img-back--css-bg"></div>
        <div>
            <h2 class="heading--secondary">blog title</h2>
            <span class="copy--dark">2 days ago</span>
        </div>
    </div>
    <div class="footer_slide slide-2">
        <div class="slide-img-2 img-back--css-bg"></div>
        <div>
            <h2 class="heading--secondary">blog title</h2>
            <span class="copy--dark">10 days ago</span>
        </div>
    </div>
    <div class="footer_slide slide-3">
        <div class="slide-img-3 img-back--css-bg"></div>
        <div>
            <h2 class="heading--secondary">blog title</h2>
            <span class="copy--dark">11 days ago</span>
        </div>
    </div>
    <div class="footer_slide slide-4">
        <div class="slide-img-4 img-back--css-bg"></div>
        <div>
            <h2 class="heading--secondary">blog title</h2>
            <span class="copy--dark">18 days ago</span>
        </div>
    </div>
</div>