<div class="form_content container">
    <h2 class="heading--secondary">Keep uo to date with out latest news</h2>
    <form id="subscribe">
        <label for="email_address">Email Address</label>
        <div class="form-group">
            <input id="email_address" class="input" name="email_address" type="email" autocomplete="email" required/>
            <button class="btn btn--ghost" type="submit">Sign up</button>
        </div>
        <div class="form-group">
            <input id="agree" type="checkbox" name="agree"/>
            <label for="agree">I'd like something extra</label>
        </div>
    </form>
</div>