<div class="header_logo flip">
    <div class="img-back--css-bg"></div>
</div>
<div class=" header_intro container">
    <h2 class="heading heading--minor">I might be a tag</h2>
    <h1 class="heading heading--primary">I'm the primary title</h1>
    <span class="copy copy--dark">19<sup>th</sup> Feb 2024</span>
</div>
<div class="header_carousel container-full">
    <div class="slide">
        <span id="slide-right">&larr;</span>
        <span id="slide-right">&rarr;</span>
        <img class="img-back--inline" src="assets/img/hero.jpg" alt="The first slide item" loading="lazy"/>
    </div>
</div>