<div class="main_content">
    <div class="container">
        <h2 class="heading--secondary"> Hero can be anyone. Even a man knowing 
            something as simple and reassuring as putting a coat around a young 
            boy shoulders to let him know the world hadn't ended. Does it come in 
            black? I will go back to Gotham and I will fight men Iike this but I 
            will not become an executioner.
        </h2>
        <p class="copy--dark">It's ends here. I'll be standing where l belong. 
            Between you and the peopIe of Gotham. The first time I stole so that 
            I wouldn't starve, yes. I lost many assumptions about the simple 
            nature of right and wrong. And when I traveled I learned the fear 
            before a crime and the thrill of success. But I never became one of 
            them.
        </p>
        <p class="copy--dark"> It was a dog. It was a big dog. This isn't a car. 
            I'll be standing where l belong. Between you and the peopIe of Gotham. 
            Bruce Wayne, eccentric billionaire. The first time I stole so that I 
            wouldn't starve, yes. I lost many assumptions about the simple nature 
            of right and wrong. And when I traveled I learned the fear before a 
            crime and the thrill of success. But I never became one of them.
        </p>
        <div class="quote">
            <blockquote class="copy--dark">This isn't a car. Hero can be anyone. Even a man knowing 
                something as simple and reassuring as putting a coat around a 
                young boy shoulders to let him know the world hadn't ended.
            </blockquote>
        </div>
        <p class="copy--dark">Does it come in black? The first time I stole so 
            that I wouldn't starve, yes. I lost many assumptions about the simple 
            nature of right and wrong. And when I traveled I learned the fear 
            before a crime and the thrill of success. But I never became one of 
            them.
        </p>
        <p class="copy--dark">I'll be standing where l belong. Between you and 
            the peopIe of Gotham. Someone like you. Someone who'll rattle the 
            cages. I'm not wearing hockey pads. Someone like you. Someone who'll 
            rattle the cages.
        </p>
        <p class="copy--dark">I can't do that as Bruce Wayne... as a man. I'm 
            flesh and blood. I can be ignored, destroyed. But as a symbol, I can 
            be incorruptible, I can be everlasting.
        </p>
    </div>
    <div class="container-full img-back--css-bg"></div>
    <div class="container">
        <div class="author">
            <div>
                <img class="img-back--inline" src="assets/img/john.jpg" alt="John's face" loading="lazy"/>
            </div>
            <div>
                <h2 class="heading--minor">John Doe</h2>
                <p class="copy--dark"> I will go back to Gotham and I will fight men 
                    Iike this but I will not become an executioner.
                </p>
            </div>
        </div>
    </div>
</div>